*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#apple{
    height:auto;
    width:100%;
    border:1px solid transparent;
    background-size: cover;
    background-position:center;
}
/* .apple ul{  
margin:0;
padding:0;
} */

/* logo setup */
.cat img {
	height: 98px;
	margin: 10px 0px 0px 10px;
}
/* logo setup end */
ul{
    text-align:center; 
}
ul li a:hover{
    background-color:#cda39a;
}
li a{
    display: inline-flex;
    color:#655855;
    margin: 10px;
    padding: 10px;
    margin-top: 7px;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none; 
}
body{
   background-repeat: no-repeat;
    background-image: url(Rear-View-Of-Doctors-Talking.jpg);
    background-size: cover;
    animation:slide 20s infinite;
}
@keyframes slide {
    10%{
        background-image: url('Rear-View-Of-Doctors-Talking.jpg');
    }
    25%{
        background-image: url('wp8706720-hospital-bed-wallpapers.png');
    }
    50%{
        background-image: url('wp8706720-hospital-bed-wallpapers.png');
    }
    75%{
        background-image: url('wp6681804-hospital-room-wallpapers.jpg');
    }
    100%{
        background-image: url('wp8706604-hospital-bed-wallpapers.png');
    }
}
.cat{
    width:50%;
    height:30px;
}
.bat ul li{
    display:inline-block;
   
}
  /* icon setup start */
.twitter{
  width:10px;
  float:right;
  margin-top: -56px;
  margin-right: 291px;
}
.insta{
    width:10px;
    float:right;
    margin-top: -56px;
    margin-right: 211px;
}
.skype{
    width:10px;
    float:right;
    margin-top: -60px;
    margin-right: 121px;
}
 /* icon setup end */

 /* <!-- vertical split page start */
.boxes{
    display: flex;
    background-color: black;
}
.box1{
    border-right: 1px solid transparent;
    height:500px;
    width:50%;
    margin-top: 30px;  
}
.pre pre{
    margin-top:1px;
}
.eye{
    border: 1px solid transparent;
    width: 285px;
    height: 50px;
    margin-left: 173px;
    margin-top: 98px; 
    background-color: #cea89f;
    border-radius: 50px 20px;
}
.eye:hover{
    background-color: #cea89f;
    opacity: 0.5;
}
.box1 p{
letter-spacing: 4px;
font-family: impact;
font-size: 20px;
}
.dental{
    border: 1px solid transparent;
    width: 285px;
    height: 50px;
    margin-left: 173px;
    margin-top: 25px;
    background-color: #cea89f; 
    border-radius: 50px 20px;
}
.dental:hover{
    background-color: #cea89f;
    opacity:0.5;
}
.box1 p{
letter-spacing: 4px;
font-family: Impact;
font-size: 20px;
}
.gynaecology{
    border: 1px solid transparent;
    width: 285px;
    height: 50px;
    margin-left: 173px;
    margin-top: 23px; 
    background-color:  #cea89f;
    border-radius: 50px 20px;
}
.gynaecology:hover{
    background-color: #cea89f;
    opacity: 0.5;
}
.box1 p{
letter-spacing: 4px;
font-family: cursive;
font-size: 20px;
}
.cardiology{
    border: 1px solid transparent;
    width: 285px;
    height: 50px;
    margin-left: 173px;
    margin-top: 23px; 
    background-color: #cea89f;
    border-radius: 50px 20px;
}
.cardiology:hover{
    background-color: #cea89f;
    opacity:0.5;
}
.box1 p{
letter-spacing: 4px;
font-family: Impact;
font-size: 45px;
}
.skin{
    border: 1px solid transparent;
    width: 285px;
    height: 50px;
    margin-left: 173px;
    margin-top: 22px; 
    background-color: #cea89f;
    border-radius: 50px 20px;
}
.skin:hover{
    background-color: #cea89f;
    opacity: 0.5;
}
.box1 p{
letter-spacing: 4px;
font-family: Hoefler Text;
font-size: 22px;
font-weight: 800;
}
/* <!-- vertical split page start  */
.add h1{
float:right;
margin:0px 0px 0px 0px;
}
.ani{
    height:122px;
    width:30px;
    background-color: transparent;
    margin: -410px 0px 0px 1005px;
    border-radius:7px;
    border:1px solid transparent;
   animation:ani 2s infinite;
}
@keyframes ani{
   0%{
    background-color: transparent;
   }
   100%{
    background-color: #cea89f;
   }
}
.ani2{
    width:130px;
    height: 25px;
    background-color: transparent;
    margin:-151px 45px 55px 956px;
    border-radius: 5px;
   border:1px solid transparent;
   animation:ani 2s infinite;
}
@keyframes ani{
   0%{
    background-color: transparent;
   }
   100%{
    background-color: #cea89f;
   }
}
/* 24/7 style start */
.add h1{
    color:black;
    margin:-8px 364px 16px 514px;
    font-size:45px;
    opacity:0.7;
    animation-name: example;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite; 
  }
  @keyframes example {
    0%   {color:transparent;}
   25%    {color: rgb(228, 5, 42)}
     50%   {color:rgb(243, 111, 133)}
     75%    {color:rgb(250, 169, 183)}
    100%     {color:#3d3d3d;}
  }
.add2 h1{
    color:black;
    margin:-8px 364px 16px 514px;
    font-size:45px;
    margin:-68px 305px 32px 514px;
    opacity:0.7;  
    animation-name: example;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite; 
  }
  @keyframes example {
    0%   {color:transparent;}
   25%    {color: rgb(228, 5, 42)}
     50%   {color:rgb(243, 111, 133)}
     75%    {color:rgb(250, 169, 183)}
    100%     {color:#2c2c2c;}
  }
/* 24/7 style end */
/* .point{
    margin:10px 0px 10px 0px;
} */
/* .num h3{
    margin:35px 26px 64px 1072px;
    margin-top:20px;
    padding:0px 0px 0px 0px;
} */
.add2 h3{
    color:black;
    margin:-8px 364px 16px 514px;
    font-size:45px;
    margin:-5px 349px 53px 960px;
    font-family: fantasy;
    font-size:17px;
    letter-spacing: 10px;
    text-align:justify;
    opacity:0.3;
 animation-name: name;
 animation-duration: 1s;
 animation-delay: 1s;
 animation-iteration-count: infinite;
}
@keyframes name{
    0%   {color:transparent;}
    25%    {color: rgb(228, 5, 42)}
      50%   {color:rgb(243, 111, 133)}
      75%    {color:rgb(250, 169, 183)}
     100%     {color:#3d3d3d;}
}


/* SUB PAGES */

                             /* phone size tag start */

